ul{
	list-style: none;
}
#muti-translate li{
	display: inline-block;
	border: 1px solid #eee;
	border-right: none;
	padding:5px;
	background-color: #fff;
	width: 50px;
	height: 1.5em;
}
#muti-translate li:nth-child(n-1){
	border-right: 1px solid #eee;
}
#muti-translate{
	position: fixed;
	z-index: 500;
}
#muti-translate .muti-hide{
	display: none;
}
