ul{
	list-style: none;
}
#sg-muti-translate li{
	display: inline-block;
	border: 1px solid #eee;
	border-right: none;
	padding:5px;
	background-color: #fff;
	width: 50px;
	height: 1.5em;
	text-align: center;
}
#sg-muti-translate li:nth-child(n-1){
	border-right: 1px solid #eee;
}
#sg-muti-translate{
	position: fixed;
	z-index: 500;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select:none;
}
#sg-muti-translate ul{
	display: inline-block;
}
#sg-muti-translate.sg-muti-hide,#sg-muti-translate .sg-muti-hide{
	display: none;
}